In [1]:
# Import Libraries

In [3]:
import numpy as np
import pandas as pd

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [7]:
df= pd.read_csv(r'C:\Users\Michel\Downloads\movie_metadata.csv')
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [47]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### 2. Use crosstabs to show the number of moovies per country

In [44]:
pd.crosstab(data['country'], data['director_name'], margins=True, margins_name='Total')[['Total']]

director_name         Total
country
Afghanistan               1
Argentina                 4
Aruba                     1
Australia                53
Bahamas                   1
...                     ...
UK                      434
USA                    3733
United Arab Emirates      1
West Germany              3
Total                  4936

[66 rows x 1 columns]

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [29]:
pd.crosstab([data['director_name'],data['genres']],data['country'],margins='Total')

,country,Afghanistan,Argentina,Aruba,Australia,Bahamas,Belgium,Brazil,Bulgaria,Cambodia,Cameroon,...,Sweden,Switzerland,Taiwan,Thailand,Turkey,UK,USA,United Arab Emirates,West Germany,All
director_name,genres,,,,,,,,,,,,,,,,,,,,,
A. Raven Cruz,Action|Adventure|Comedy|Fantasy|Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Hann,Drama|Horror|Mystery|Sci-Fi|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Schneider,Drama|Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Seltzer,Comedy|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Abel Ferrara,Crime|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álex de la Iglesia,Crime|Mystery|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Émile Gaudreault,Comedy|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Éric Tessier,Action|Drama|Horror|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Étienne Faure,Drama|Musical|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
All,,1,4,1,53,1,4,8,1,1,1,...,6,3,2,5,1,434,3733,1,3,4936

### 4. Average duration of filmes grouped by color

In [38]:
pd.crosstab(data['genres'],data['color'],values=data.duration,aggfunc='mean',margins=True,margins_name='Total')

color,Black and White,Color,Total
genres,,,
Action,111.000000,107.444444,107.800000
Action|Adventure,NaN,112.636364,112.636364
Action|Adventure|Animation|Comedy|Crime|Family|Fantasy,NaN,95.000000,95.000000
Action|Adventure|Animation|Comedy|Drama|Family|Sci-Fi,NaN,96.000000,96.000000
Action|Adventure|Animation|Comedy|Family,NaN,91.500000,91.500000
...,...,...,...
Thriller,NaN,103.350000,103.350000
Thriller|War,133.000000,NaN,133.000000
Thriller|Western,85.000000,NaN,85.000000
Western,NaN,106.000000,106.000000
Total,112.253589,107.042908,107.260279

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [39]:
data['film_likes']= data['actor_1_facebook_likes'] + data['actor_2_facebook_likes'] + data['actor_3_facebook_likes']

In [43]:
likes=pd.crosstab(data.director_name, data.film_likes, values=data['film_likes'], aggfunc='sum', margins=True,  margins_name="Total" )
likes[['Total']]

film_likes               Total
director_name
A. Raven Cruz           1094.0
Aaron Hann               406.0
Aaron Schneider        16970.0
Aaron Seltzer           4598.0
Abel Ferrara            2198.0
...                        ...
Álex de la Iglesia       702.0
Émile Gaudreault         917.0
Éric Tessier              72.0
Étienne Faure             19.0
Total               44334843.0

[2386 rows x 1 columns]